<div class="container">
  <h1>グループ一覧</h1>
  <%= link_to "グループ作成", new_group_path %>
  <%= link_to "登録済み商品", items_path %>
  <%= link_to 'タグ一覧', tags_path %>

  <div class="row">
    <div class="col-3">
      <div class="card my-3 text-center">
        <div class="card-body">
          <% @groups.each do |group| %>
            <div>
              <p>グループ名</p>
              <p><%= link_to group.name, orders_path %></p>
              <p>紹介文</p>
              <p><%= group.content %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>