<div class="container">
  <h1>グループ一覧</h1>
  <div class="d-flex justify-content-center">
    <%= link_to "グループ作成", new_group_path, class:"btn btn-primary" %>
  </div>
<!--グループ詳細ページはいらない？-->
  <div class="row">
    <% @groups.each do |group| %>
      <div class="col-4">
          <div class="card my-3 text-center">
            <div class="card-body">
              <div>
                <p class="border-bottom border-black mb-1">グループ名</p>
                <p class="card-text"><%= link_to group.name, group_path(group) %></p>

                <p class="border-bottom border-black mb-1">紹介文</p>
                <p class="card-text"><%= group.content %></p>

                <p class="border-bottom border-black mb-1">グループ作成者</p>
                <p class="card-text"><%= group.owner.last_name %></p>

                <p class="border-bottom border-black mb-1">グループメンバー</p>
                <p class="card-text">
                  <% group.group_users.each do |group_user| %>
                    <small><%= group_user.customer.last_name %></small>
                  <% end %>
                </p>

                <p><%= link_to "発注詳細", group_orders_path(group) %></p>

                <% if group.is_owned_by?(current_customer) %>
                  <%= link_to "編集", edit_group_path(group), class:"btn btn-success btn-sm" %>
                <% elsif group.include_customer?(current_customer) %>
                  <%= link_to "退会", group_group_users_path(group), method: :delete, class:"btn btn-danger btn-sm" %>
                <% else %>
                  <%= link_to "参加", group_group_users_path(group), method: :post, class:"btn btn-primary btn-sm" %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>