<div class="table-responsive">
  <div class="d-flex justify-content-center">
    <table class="table table-bordered mt-3 text-nowrap">
      <thead class="text-center thead-light">
        <th>商品名</th>
        <th>購入先サイト</th>
        <th>コード</th>
        <th>内容量</th>
        <th>タグ</th>
        <th></th>
      </thead>
      <% @items.each do |item| %>
        <tbody class="text-center bg-white">
          <td><%= item.name %></td>
          <td><%= item.site %></td>
          <td ><%= item.code %></td>
          <td><%= item.capacity %></td>
          <td class="p-1">
            <ul class="cp_list d-flex justify-content-start">
              <% item.tags.each do |tag| %>
                <li>
                  <%= link_to tag.name, admin_group_tag_path(params[:group_id], tag) %>
                </li>
                <%= link_to admin_group_tag_path(params[:group_id], tag), method: :delete do %>
                  <i class="fa-solid fa-circle-xmark" aria-hidden style="color: red;"></i>
                <% end %>
              <% end %>
            </ul>
          </td>
          <td><%= link_to "編集", edit_admin_group_item_path(params[:group_id], item), class:"btn btn-success btn-sm" %></td>
        </tbody>
      <% end %>
    </table>
  </div>
</div>