<div class="container">
  <h1>商品編集</h1>

  <%= form_with model: @item, url: admin_group_item_path(params[:group_id], @item), method: :patch, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, "商品名", class:"control-label" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :site, "購入先サイト", class:"control-label" %>
      <%= f.text_field :site, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :code, "コード", class:"control-label" %>
      <%= f.text_field :code, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :capacity, "内容量", class:"control-label" %>
      <%= f.text_field :capacity, class:"form-control" %>
    </div>

    <div class="form-group">
      <%# Edit用にf.tags.pluck(:name)でタグの配列を取得 %>
      <%= f.text_field :tag, value: @item.tags.pluck(:name) %><br>
      <small>スペースで区切ることで複数指定できます。</small><br>
    </div>

    <div>
      <%= f.submit "変更" %>
    </div>
  <% end %>
</div>