<div class="container">
  <h1>登録済み商品</h1>

  <%= search_form_for @q, url: search_group_items_path(params[:group_id]) do |f| %>
    <%= f.label :name_cont, '商品検索' %>
    <%= f.search_field :name_cont %>
    <%= f.submit '検索' %>
  <% end %>

  <% @items.each do |item| %>
    <div>
      <p>商品名</p>
      <p><%= link_to item.name, group_item_path(params[:group_id], item) %></p>

      <p>購入先サイト</p>
      <p><%= item.site %></p>

      <p>コード</p>
      <p><%= item.code %></p>

      <p>タグ</p>
      <ul>
        <%# 該当のPostからアソシエーションでタグを取得 %>
        <% item.tags.each do |tag| %>
          <%# タグを展開 %>
          <li>
            <%= link_to tag.name, group_tag_path(params[:group_id], tag) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>