<div class="container">
  <h1>商品詳細</h1>

  <p>商品名</p>
  <p><%= @item.name %></p>

  <p>購入先サイト</p>
  <p><%= @item.site %></p>

  <p>コード</p>
  <p><%= @item.code %></p>

  <p>内容量</p>
  <p><%= @item.capacity %></p>

  <p>タグ</p>
  <ul>
    <% @item.tags.each do |tag| %>
      <li>
        <%= link_to tag.name, group_tag_path(params[:group_id], tag) %>
      </li>
    <% end %>
  </ul>
</div>