<div class="container">
  <h1>会員編集</h1>
  <%= form_with model: @customer, url: admin_customer_path, method: :patch, local: true do |f| %>
    <form class="form-horizontal d-flex justify-content-center">
      <div class="card">
        <div class="card-body">

          <div class="form-group my-3 d-flex align-items-center offset-2">
            <%= f.label :"氏名：", class:"col-sm-2 m-0 control-label" %>
            <div class="col-2 text-right">
              <%= f.label :last_name, "苗字", class:"m-0 control-label" %>
            </div>
            <div class="col-sm-3">
              <%= f.text_field :last_name, class:"form-control" %>
            </div>
            <div class="text-right">
              <%= f.label :first_name, "名前", class:"m-0 control-label" %>
            </div>
            <div class="col-sm-3">
              <%= f.text_field :first_name, class:"form-control" %>
            </div>
          </div>

          <div class="form-group my-3 d-flex align-items-center offset-2">
            <%= f.label :email, "メールアドレス：", class:"col-sm-4 m-0 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :email, class:"form-control" %>
            </div>
          </div>

          <div class="form-group my-3 d-flex align-items-center offset-2">
            <%= f.label :telephone_number, "電話番号：", class:"col-sm-4 m-0 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :telephone_number, class:"form-control" %>
            </div>
          </div>

          <div class="form-group my-3 d-flex align-items-center offset-2">
            <%= f.label :is_active, "会員ステータス：", class: "col-sm-4 m-0 control-label" %>
            <div class="col-sm-3 offset-1">
              <%= f.radio_button :is_active, :true, class: "form-check-input" %>
              <%= f.label :is_active, "有効", class: "form-check-label" %>
            </div>
            <div>
              <%= f.radio_button :is_active, :false, class: "form-check-input" %>
              <%= f.label :is_active, "退会", class: "form-check-label" %>
            </div>
          </div>

          <!--<div class="text-center mt-3 mb-5">-->
          <div class="d-flex justify-content-around mt-3">
            <%= f.submit "変更", class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </form>
  <% end %>
</div>