<div class="container">
  <h1>会員詳細</h1>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <p class="col-4">会員ID：</p>
            <p class="col-4"><%= @customer.id %></p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <p class="col-4">氏名：</p>
            <p class="col-4"><%= @customer.full_name %></p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <p class="col-4">メールアドレス：</p>
            <p class="col-4"><%= @customer.email %></p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <p class="col-4">電話番号：</p>
            <p class="col-4"><%= @customer.telephone_number %></p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <p class="col-4">ステータス：</p>
            <p class="col-4">
              <% if @customer.is_active? %>
                <span class="badge badge-primary">有効</span>
              <% else %>
                <span class="badge badge-secondary">退会済</span>
              <% end %>
            </p>
          </div>
          <div class="text-center">
            <%= link_to "編集", edit_admin_customer_path, class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p>参加中のグループ</p>
          <ul>
            <% @join_groups.each do |group| %>
              <li><%= link_to group.group.name, admin_group_orders_path(group.group) %></li>
            <% end %>
          </ul>

          <p>作成したグループ</p>
          <ul>
            <% @created_groups.each do |group| %>
              <li><%= link_to group.name, admin_group_orders_path(group) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>