<div class="container">
  <h1>在庫管理</h1>

  <%# @ordersでレコードが1件もない場合の分岐 %>
  <% if @order_details.count == 0 %>
    <%# @ordersにデータがない場合の表示 %>
    <p class="text-center m-5">在庫情報はありません</p>
  <% else %>
    <%# @ordersにレコードがある場合、タイトルを表示する %>
    <div class="d-flex justify-content-center">
      <table class="table table-bordered mt-3">
        <thead class="text-center thead-light">
          <th><%= sort_link(@q, :created_at, '発注日') %></th>
          <th><%= sort_link(@q, :item_name, '商品名' ) %></th>
          <th><%= sort_link(@q, :item_site, '購入先サイト') %></th>
          <th><%= sort_link(@q, :item_code, 'コード' ) %></th>
          <th><%= sort_link(@q, :item_capacity, '内容量') %></th>
          <th><%= sort_link(@q, :amount, '購入数') %></th>
          <th><%= sort_link(@q, :stock_stats, '在庫状況') %></th>
        </thead>
        <% @order_details.each do |detail| %>
          <tbody class="text-center bg-white">
            <td><%= link_to detail.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日'), admin_group_order_path(params[:group_id], detail) %></td>
            <td><%= detail.item.name %></td>
            <td><%= detail.item.site %></td>
            <td><%= detail.item.code %></td>
            <td><%= detail.item.capacity %></td>
            <td><%= detail.amount %></td>
            <td>
              <%= form_with model: detail, url: admin_group_order_detail_path(params[:group_id], detail), method: :patch do |detail| %>
                <%= detail.select :stock_stats, OrderDetail.stock_stats.keys.map {|k| [I18n.t("enums.order_detail.stock_stats.#{k}"), k]} %>
                <%= detail.submit "更新する", class:"btn btn-success btn-sm" %>
              <% end %>
            </td>
          </tbody>
        <% end %>
      </table>
    </div>
  <% end %>

  <div class="d-flex justify-content-around mt-5">
    <%= link_to "グループ一覧に戻る", admin_groups_path, class:"btn btn-secondary" %>
  </div>
</div>