<div class="container">
  <h1>新規会員登録</h1>

  <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <form class="form-horizontal d-flex justify-content-center">

      <div class="form-group my-3 d-flex align-items-center">
        <%= f.label :"氏名",class:"col-sm-2 control-label" %>
        <div class="col-1 text-right">
          <%= f.label :last_name, "(姓)",class:"control-label" %>
        </div>
        <div class="col-sm-3">
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",placeholder: "苗字",class:"form-control" %>
        </div>
        <div class="col-1 text-right">
          <%= f.label :first_name, "(名)",class:"control-label" %>
        </div>
        <div class="col-sm-3">
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",placeholder: "名前",class:"form-control" %>
        </div>
      </div>

      <div class="form-group my-3 d-flex align-items-center">
        <%= f.label :email, "メールアドレス",class:"col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "sample@example.com",class:"form-control" %>
        </div>
      </div>

      <div class="form-group my-3 d-flex align-items-center">
        <%= f.label :telephone_number, "電話番号(ハイフンなし)",class:"col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= f.telephone_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "0000000000",class:"form-control" %>
        </div>
      </div>

      <div class="form-group my-3 d-flex align-items-center">
        <%= f.label :password, "パスワード6文字以上",class:"col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
        </div>
      </div>

      <div class="form-group my-3 d-flex align-items-center">
        <%= f.label :password_confirmation, "パスワード(確認用)",class:"col-sm-3 control-label" %>
        <div class="col-sm-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
        </div>
      </div>

      <div class="text-center mt-3 mb-5">
        <%= f.submit "新規登録", class:"btn btn-info" %>
      </div>

    </form>
  <% end %>

  <div class="text-center mt-3 mb-5">
    <h1>既に登録済みの方</h1>
    <%= link_to "こちら", new_customer_session_path %>　からログインしてください
  </div>

</div>