<div class="form-group">
  <%= f.label :name, "商品名", class:"control-label" %>
  <%= f.text_field :name, class:"form-control" %>
</div>

<!--<div class="form-group">-->
<!--  <%#= f.label :tag, 'タグ' %><br>-->
<!--  <%#= f.text_field :tag, value: @item.tags.pluck(:name) %><br>-->
<!--  <small>スペースで区切ることで複数指定できます。</small><br>-->
<!--</div>-->

<div class="form-group" class="d-block">
  <%= f.label :site, "購入先サイト", class:"control-label" %>
  <%= f.text_field :site, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :code, "コード", class:"control-label" %>
  <%= f.text_field :code, class:"form-control" %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :capacity, "内容量", class:"control-label" %>
      <%= f.text_field :capacity, class:"form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :amount, "購入数", class:"control-label" %>
      <%= f.text_field :amount, class:"form-control" %>
    </div>
  </div>
</div>