<%# 以下の.nested-fieldsは、必須です。 %>
<div class="nested-fields">
  <div class="card mb-3">
    <div class="card-body">

      <div class="form-group">
        <label for="existing" id="existing_label">
          <input type="radio" id="existing_mode" name="existing" onclick="modeChange(this)" value="existing" checked />
            既存
        </label>
        <label for="new" id="new_label">
          <input type="radio" id="new_mode" name="existing" onclick="modeChange(this)" value="new" />
            新規
        </label>
      </div>

      <!--既存-->
      <div id="existing_area">
        <%= f.label :name, "登録済み商品", class:"control-label" %>
        <!--{onChange:"itemChange(this)" }のthisはcollection_selectを表す-->
        <%= f.collection_select :item_id, Item.where(group_id: params[:group_id]), :id, :name, {include_blank: "選択して下さい"}, {onChange:"itemChange(this)", id: "your_select_id" } %>
        <div class="item_info"></div>
        <div class="form-group">
          <%= f.label :amount, "購入数", class:"control-label" %>
          <%= f.text_field :amount, class:"form-control" %>
        </div>
      </div>

      <!--新規-->
      <div id="new_area" class="d-none">
        <div class="form-group">
          <p class="m-0">商品名</p>
          <%= text_field_tag 'new_items[name][]' %>

          <p class="m-0">購入先サイト</p>
          <%= text_field_tag 'new_items[site][]' %>

          <p class="m-0">コード</p>
          <%= text_field_tag 'new_items[code][]' %>

          <div class="row">
            <div class="col-md-6">
              <p class="m-0">内容量</p>
              <%= text_field_tag 'new_items[capacity][]' %>
            </div>
            <div class="col-md-6">
              <p class="m-0">購入数</p>
              <%= text_field_tag 'new_items[amount][]' %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  // ラジオボタンのid等の変更
  function modeChange(elem) {
    var unixtime = $(elem).parent().data('area') // areaデータ取得
    var clickElem = $(elem).attr('id') // id属性取得
    if (clickElem.match(/^existing_mode/)) { // 正規表現 ref: https://qiita.com/iLLviA/items/b6bf680cd2408edd050f
      $(`#existing_area_${unixtime}`).removeClass('d-none').addClass('d-block') // 既存部品表示
      $(`#new_area_${unixtime}`).removeClass('d-block').addClass('d-none') // 新規部品非表示
    } else {
      $(`#existing_area_${unixtime}`).removeClass('d-block').addClass('d-none') // 既存部品非表示
      $(`#new_area_${unixtime}`).removeClass('d-none').addClass('d-block') // 新規部品表示
    }
  }

  // 既存情報のcollection_selectの情報取得と表示
  function itemChange(elem){
    var id = $(elem).attr('id'); // collection_selectのid属性取得
    var item_id = $(elem).val(); // item_idのid属性取得
    // collection_selectの親(div id="existing_area")からitem_infoの場所を探す
    var item_info = $(elem).parent().find(".item_info"); // どの場所に表示するかを取得
    item_info.empty();

    $.ajax({
      //   group_item GET    /groups/:group_id/items/ajax_show/:id(.:format)  public/items#ajax_show
      // url: '/groups/<%= params[:group_id] %>/items/ajax_show/' + item_id,
      // url: '/groups/' + params[:group_id] + '/items/ajax_show/' + item_id,
      url: `/groups/<%= params[:group_id] %>/items/ajax_show/${item_id}`,
            /* 自サイトのドメインであれば、https://kinocolog.com/ajax/test.html というURL指定も可 */

      type: 'GET',
      dataType: 'html'
    }).done(function(data){
      console.log(data);
            /* 通信成功時 */
      $(item_info).html(data); //取得したHTMLを.resultに反映

    }).fail(function(data){
            /* 通信失敗時 */
            alert('通信失敗！');

    });

      var selectElement = $(elem).parent().find("select"); // 該当するselect要素を取得
      selectElement.find("option").each(function() {
        // 特定の文字列を含む場合に色を変更する
        if ($(this).text().includes("マカロン")) {
          $(this).css("color", "red"); // 特定の文字列の色を赤色に変更する
        }
      });
  }
</script>