<div class="container">
  <h1>発注履歴</h1>
  <div class="d-flex justify-content-around">
    <%= link_to "発注依頼作成", new_group_order_path, class:"btn btn-primary" %>
    <%= link_to "在庫一覧", group_order_details_path(params[:group_id]), class:"btn btn-primary" %>
  </div>

  <%# @ordersでレコードが1件もない場合の分岐 %>
  <% if @orders.count == 0 %>
    <%# @ordersにデータがない場合の表示 %>
    <p class="text-center m-5">発注情報はありません</p>
  <% else %>
    <%# @ordersにレコードがある場合、タイトルを表示する %>
    <div class="table-responsive">
      <div class="d-flex justify-content-center">
        <table class="table table-bordered mt-3 text-nowrap" style="width: 80%">
          <thead class="text-center thead-light">
            <th>発注日</th>
            <th>発注状況</th>
            <th>発注商品名 / 購入数</th>
            <th>発注者</th>
          </thead>

          <% @orders.each do |order| %>
            <tbody class="text-center bg-white">
              <td><%= link_to order.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分'), group_order_path(order.group_id, order) %></td>

              <td>
                <% if order.group.is_owned_by?(current_customer) %>
                  <%= form_with model: order, url: group_order_path(params[:group_id], order), method: :patch do |order| %>
                    <%= order.select :stats, Order.stats.keys.map {|k| [I18n.t("enums.order.stats.#{k}"), k]} %>
                    <%= order.submit "更新する", class:"btn btn-success btn-sm" %>
                  <% end %>
                <% else %>
                  <%= order.stats_i18n %>
                <% end %>
              </td>

              <td>
                <ul class="m-0">
                  <% order.order_details.each do |detail| %>
                    <li class="text-left"><%= detail.item.name %> / <%= detail.amount %></li>
                  <% end %>
                </ul>
              </td>

              <td><%= order.customer.full_name %></td>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <%= paginate @orders, theme: 'bootstrap-5' %>

  <div class="d-flex justify-content-around">
    <%= link_to "グループ一覧に戻る", groups_path, class:"btn btn-secondary" %>
  </div>
</div>