<div class="container">
  <h1>ログイン</h1>

  <div>
    <%= form_with model: @customer, url: new_customer_session_path, local: true do |f| %>
      <dl>
        <dt><%= f.label :email, "メールアドレス",class:"control-label" %></dt>
        <dd><%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "sample@example.com",class:"form-control" %></dd>
      </dl>

      <dl>
        <dt><%= f.label :password, "パスワード",class:"control-label" %></dt>
        <dd><%= f.password_field :password, autocomplete: "new-password",class:"form-control" %></dd>
      </dl>

      <div class="actions text-center">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>

  <div>
    <h1>ゲストログイン（閲覧用）</h1>
    <%= link_to 'ゲストログイン', customer_guest_sign_in_path, method: :post %>
  </div>

  <div>
    <h1>会員登録がお済みでない方</h1>
    <%= link_to "こちら", new_customer_registration_path %>　から新規登録をしてください
  </div>
</div>
