<div class="container">
  <h1>ログイン</h1>

    <%= form_with model: @customer, url: new_customer_session_path, local: true do |f| %>
      <form class="form-horizontal">
        <div class="form-group my-3 d-flex justify-content-center align-items-center">
          <%= f.label :email, "メールアドレス",class:"col-sm-2 control-label" %><br />
          <div class="col-sm-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com",class:" form-control" %>
          </div>
        </div>

        <div class="form-group my-3 d-flex justify-content-center align-items-center">
          <%= f.label :password, "パスワード",class:"col-sm-2 control-label" %><br />
          <div class="col-sm-4">
            <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
          </div>
        </div>

        <div class="text-center mt-3 mb-5">
          <%= f.submit "ログイン", class:"btn btn-info" %>
        </div>
      </form>
      
      <form class="text-center">
        
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">メールアドレス</label>
        </div>
        
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="パスワード">
          <label for="floatingPassword">パスワード</label>
        </div>
        
        <button class="btn btn-primary w-100 py-2" type="submit">サインイン</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017-2024</p>
      </form>
    <% end %>

  <div class="text-center my-5">
    <h1>ゲストログイン（閲覧用）</h1>
    <%= link_to 'ゲストログイン', customer_guest_sign_in_path, method: :post, class:"btn btn-info my-3"  %>
  </div>

  <div class="text-center mt-3 mb-5">
    <h1>会員登録がお済みでない方</h1>
    <%= link_to "こちら", new_customer_registration_path %>　から新規登録をしてください
  </div>
</div>
