<div class="container">
  <h1>登録商品</h1>
  <div class="d-flex justify-content-around">
    <%= link_to "商品登録", new_group_item_path, class:"btn btn-primary" %>
    <%= search_form_for @q, url: search_group_items_path(params[:group_id]) do |f| %>
      <%= f.search_field :name_cont, placeholder:"キーワードを入力" %>
      <%= f.submit '検索' %>
    <% end %>
  </div>

  <%# @ordersでレコードが1件もない場合の分岐 %>
  <% if @items.count == 0 %>
    <%# @ordersにデータがない場合の表示 %>
    <p class="text-center m-5">登録商品はありません</p>
  <% else %>
    <%= render "index", items: @items %>
  <% end %>

  <%= paginate @items, theme: 'bootstrap-5' %>

  <div class="d-flex justify-content-around mt-3">
    <%= link_to "注文履歴に戻る", group_orders_path(params[:group_id]), class:"btn btn-secondary" %>
  </div>
</div>