<div class="container">
  <h1>商品登録</h1>

  <%= form_with model: @item, url: group_items_path, method: :post, local: true do |f| %>
    <form class="form-horizontal d-flex justify-content-center">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <div class="form-group my-3 d-flex justify-content-center align-items-center">
            <%= f.label :name, "商品名：", class:"col-sm-2 m-0 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :name, class:"form-control" %>
            </div>
          </div>

          <div class="form-group my-3 d-flex justify-content-center align-items-center">
            <%= f.label :site, "購入先サイト：", class:"col-sm-2 m-0 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :site, class:"form-control" %>
            </div>
          </div>

          <div class="form-group my-3 d-flex justify-content-center align-items-center">
            <%= f.label :code, "コード：", class:"col-sm-2 m-0 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :code, class:"form-control" %>
            </div>
          </div>

          <div class="form-group my-3 d-flex justify-content-center align-items-center">
            <%= f.label :capacity, "内容量：", class:"col-sm-2 m-0 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :capacity, class:"form-control" %>
            </div>
          </div>

          <div class="form-group my-3 d-flex justify-content-center align-items-center">
            <%= f.label :tag, 'タグ：', class:"col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%# Edit用に@post.tags.pluck(:name)でタグの配列を取得 %>
              <%= f.text_field :tag, value: @item.tags.pluck(:name), class:"form-control" %>
              <small>スペースで区切ることで複数指定できます。</small>
            </div>
          </div>

          <div class="text-center mt-3">
            <%= f.submit :"商品登録", class: "btn btn-info" %>
          </div>
        </div>
      </div>
    </form>
  <% end %>
</div>