<div class="container">
  <h1>商品詳細</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">

          <div class="row mb-10">
            <p class="col-4">商品名</p>
            <p class="col-4"><%= @item.name %></p>
          </div>

          <div class="row mb-10">
            <p class="col-4">購入先サイト</p>
            <p class="col-4"><%= @item.site %></p>
          </div>

          <div class="row mb-10">
            <p class="col-4">コード</p>
            <p class="col-4"><%= @item.code %></p>
          </div>

          <div class="row mb-10">
            <p class="col-4">内容量</p>
            <p class="col-4"><%= @item.capacity %></p>
          </div>

          <div class="row mb-10">
            <p class="col-4">タグ</p>
            <ul class="col-4">
              <% @item.tags.each do |tag| %>
                <li>
                  <%= link_to tag.name, group_tag_path(params[:group_id], tag) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>