<div class="container">
  <h1>商品詳細</h1>
  <div class="row">
    <div class="offreset col-md-8 offset-2">
      <div class="card">
        <div class="card-body">

          <div class="my-3 d-flex justify-content-center align-items-center">
            <p class="col-sm-4 col-md-3">商品名：</p>
            <p class="col-sm-7 col-md-6"><%= @item.name %></p>
          </div>

          <div class="my-3 d-flex justify-content-center align-items-center">
            <p class="col-sm-4 col-md-3">購入先サイト：</p>
            <p class="col-sm-7 col-md-6"><%= @item.site %></p>
          </div>

          <div class="my-3 d-flex justify-content-center align-items-center">
            <p class="col-sm-4 col-md-3">コード：</p>
            <p class="col-sm-7 col-md-6"><%= @item.code %></p>
          </div>

          <div class="my-3 d-flex justify-content-center align-items-center">
            <p class="col-sm-4 col-md-3">内容量：</p>
            <p class="col-sm-7 col-md-6"><%= @item.capacity %></p>
          </div>

          <div class="my-3 d-flex justify-content-center align-items-center">
            <p class="col-sm-4 col-md-3 m-0">タグ：</p>
            <ul class="cp_list d-flex justify-content-start col-sm-7 col-md-6">
              <% @item.tags.each do |tag| %>
                <li>
                  <%= link_to tag.name, group_tags_path(params[:group_id]) %>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="d-flex justify-content-around">
            <%= link_to "編集", edit_group_item_path(params[:group_id], @item), class:"btn btn-success btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <%= link_to "商品一覧に戻る", group_items_path(params[:group_id]), class:"btn btn-secondary" %>
  </div>
</div>