<!DOCTYPE html>
<html>
  <head>
    <title>Organize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/38cce786e8.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div class="d-flex">
      <div id="sidebar">
        <%= render 'layouts/sidebar' %>
      </div>

      <main class="w-100">
        <%= render 'layouts/navbar' %>
        <%= yield %>
      </main>
    </div>

    <footer>
      <p>- ORGANIZE -</p>
    </footer>
  </body>
</html>