<!DOCTYPE html>
<html>
  <head>
    <title>Organize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/38cce786e8.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <main>
      <div class="row mr-0">
        <div class="col-2 ss">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-10">
          <%= yield %>
        </div>
      </div>
    </main>

    <footer>
      <p>- ORGANIZE -</p>
    </footer>
  </body>
</html>
