<!DOCTYPE html>
<html>
  <head>
    <title>Organize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/38cce786e8.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <p class="m-0" style="font-size: 30px;"><%= link_to "ORGANIZE", top_path %></p>
      <nav class="nav">
        <% if admin_signed_in? %>
          <ul class="header_ul">
            <li class="header_li"><%= link_to "会員", admin_customers_path %></li>
            <li class="header_li"><%= link_to "グループ", admin_groups_path %></li>
            <li class="header_li"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          </ul>
        <% elsif customer_signed_in? %>
          <ul class="header_ul">
            <li class="header_li"><%= link_to "ABOUT", about_path %></li>
            <li class="header_li"><%= link_to "マイページ", customers_mypage_path %></li>
            <li class="header_li"><%= link_to "グループ", groups_path %></li>
            <li class="header_li"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
          </ul>
          
          <li class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Notification
              <span class="badge badge-danger"><%= current_customer.notifications.where(read: false).count %></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% if current_customer.notifications.where(read: false).any? %>
                <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                <% current_customer.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                  <%= link_to notification.message, notification, method: :patch, class: "dropdown-item" %>
                <% end %>
              <% else %>
                <span class="dropdown-item disabled">未読の通知はありません</span>
              <% end %>
            </div>
          </li>
          
        <% else %>
          <ul class="header_ul">
            <li class="header_li"><%= link_to "ABOUT", about_path %></li>
            <li class="header_li"><%= link_to "新規登録", new_customer_registration_path %></li>
            <li class="header_li"><%= link_to "ログイン", new_customer_session_path %></li>
          </ul>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>© 2024 ORGANIZE</p>
    </footer>
  </body>
</html>
