<!DOCTYPE html>
<html>
  <head>
    <title>Organize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/38cce786e8.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <p><%= link_to "ORGANIZE", top_path %></p>

      <nav class="nav">
        <ul>
          <li><%= link_to "ABOUT", about_path %></li>
          <li><%= link_to "マイページ", customers_mypage_path %></li>
          <li><%= link_to "グループ", groups_path %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Copyright © 2024 ORGANIZE.</p>
    </footer>
  </body>
</html>
