<!DOCTYPE html>
<html>
  <head>
    <title>Organize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/38cce786e8.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= link_to "ABOUT", about_path %>
    <%= link_to "マイページ", customers_mypage_path %>
    <%= link_to "グループ", groups_path %>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
